h4 {
    color: #7e7878;
}

.cadastro_testes_container input,
.cadastro_testes_container input[type="radio"]+label,
.cadastro_testes_container input[type="checkbox"]+label:before,
.cadastro_testes_container select option,
.cadastro_testes_container select {
    width: 100%;
    padding: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.cadastro_testes_container input:focus {
    outline: 0;
    border-color: #7e7878;
}

.cadastro_testes_container input:focus+.input-icon i {
    color: #7e7878;
}

.cadastro_testes_container input:focus+.input-icon:after {
    border-right-color: #7e7878;
}

.cadastro_testes_container input[type="radio"] {
    display: none;
}

.cadastro_testes_container input[type="radio"]+label,
.cadastro_testes_container select {
    display: inline-block;
    width: 50%;
    text-align: center;
    float: left;
    border-radius: 0;
}

.cadastro_testes_container input[type="radio"]+label:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.cadastro_testes_container input[type="radio"]+label:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.cadastro_testes_container input[type="radio"]+label i {
    padding-right: 0.4em;
}

.cadastro_testes_container input[type="radio"]:checked+label,
.cadastro_testes_container input:checked+label:before {
    background-color: #41b10e;
    color: #fff;
    border-color: #4ac710;
}

.cadastro_testes_container input:checked+label:after {
    opacity: 1;
}

.cadastro_testes_container select {
    height: 3.4em;
    line-height: 2;
}

.cadastro_testes_container select:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.cadastro_testes_container select:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.cadastro_testes_container select:focus,
.cadastro_testes_container select:active {
    outline: 0;
}

.cadastro_testes_container select option {
    color: #000000;
}

.cadastro_testes_container .input-group {
    margin-bottom: 1em;
    zoom: 1;
}

.cadastro_testes_container .input-group:before,
.cadastro_testes_container .input-group:after {
    content: "";
    display: table;
}

.cadastro_testes_container .input-group:after {
    clear: both;
}

.cadastro_testes_container .input-group-icon {
    position: relative;
}

.cadastro_testes_container .input-group-icon input {
    padding-left: 4.4em;
}

.cadastro_testes_container .input-group-icon .input-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.4em;
    height: 3.4em;
    line-height: 3.4em;
    text-align: center;
    pointer-events: none;
}

.cadastro_testes_container .input-group-icon .input-icon:after {
    position: absolute;
    top: 0.6em;
    bottom: 0.6em;
    left: 3.4em;
    display: block;
    border-right: 1px solid #e5e5e5;
    content: "";
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.cadastro_testes_container .input-group-icon .input-icon i {
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.background_cadastro_testes {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0, 0.7);
    z-index: 1000;
}

.cadastro_testes_container {
    max-width: 38em;
    padding: 1em 3em 2em 3em;
    margin: 0em auto;
    background-color: #fff;
    border-radius: 4.2px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
    margin-top: 2%;
    font-size: 15px;
    color: #b9b9b9;
}

.cadastro_testes_container i {
    color: #b9b9b9;
}

.cadastro_testes_container .row {
    display: flex;
    flex-direction: column;
    zoom: 1;
}

.cadastro_testes_container .row:before,
.cadastro_testes_container .row:after {
    content: "";
    display: table;
}

.cadastro_testes_container .row:after {
    clear: both;
}

.cadastro_testes_container .col-89-porcento {
    padding-right: 10px;
    float: left;
    width: 89%;
}

.cadastro_testes_container .col-89-porcento:last-of-type {
    padding-right: 0;
}

.cadastro_testes_container .col-half {
    padding-right: 10px;
    float: left;
    width: 50%;
}

.cadastro_testes_container .col-half:last-of-type {
    padding-right: 0;
}

.cadastro_testes_container .col-third {
    padding-right: 10px;
    float: left;
    width: 33.33333333%;
}

.cadastro_testes_container .col-third:last-of-type {
    padding-right: 0;
}

.cadastro_testes_container .col-11-porcento {
    padding-right: 10px;
    float: left;
    width: 11%;
}

.cadastro_testes_container .col-11-porcento:last-of-type {
    padding-right: 0;
}

.cadastro_testes_container #inputAdicionarPergunta {
    cursor: pointer;
}

.cadastro_testes_container #botaoEsconder {
    background-color: #fff;
    border: 1px solid #fff;
}

@media only screen and (max-width: 540px) {
    .cadastro_testes_container .col-half {
        width: 100%;
        padding-right: 0;
    }
}